In [1]:
import pandas as pd
from univariate import univariate

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
dataset.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [5]:
dataset.fillna(0,inplace=True)

In [6]:
dataset.isna().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [7]:
from scipy.stats import ttest_ind

In [8]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

#Independant Sample (Unpaired T-Test)
Different group (male and female) but same condition (Salary)

In [9]:
male=dataset[dataset['gender']=='M']['salary']
female=dataset[dataset['gender']=='F']['salary']

In [10]:
ttest_ind(male,female)

TtestResult(statistic=np.float64(2.1103433958668765), pvalue=np.float64(0.03599560646745178), df=np.float64(213.0))

In [1]:
# low pvalue (3.5%) which indicates there is asignificant difference between salary of female and salary of male.

In [29]:
Others= dataset[dataset['hsc_b']=='Others']['hsc_p']
Central= dataset[dataset['hsc_b']=='Central']['hsc_p']

In [31]:
ttest_ind(Others,Central)

TtestResult(statistic=np.float64(-0.2853493873666584), pvalue=np.float64(0.7756537600353762), df=np.float64(213.0))

In [2]:
# Higer pvalue (77%) which indicates there is no significant difference between Others and Centeral bord students for their HSC mark.

#Dependant Sample (Paired T-Test)
Same Group (Male) but different Condition (SSC_P and HSC_P)

In [14]:
pmale_ssc=dataset[dataset['gender']=='M']['ssc_p']

In [16]:
pmale_hsc=dataset[dataset['gender']=='M']['hsc_p']

In [17]:
ttest_ind(pmale_ssc,pmale_hsc)

TtestResult(statistic=np.float64(0.462536606114424), pvalue=np.float64(0.6440609938866582), df=np.float64(276.0))

In [3]:
# Higer pvalue (64%) which indicates there is no significant difference between SSC mark of male students and HSC mark of male students.

In [42]:
c_MBA=dataset[dataset['degree_t']=='Comm&Mgmt']['mba_p']
c_etest=dataset[dataset['degree_t']=='Comm&Mgmt']['etest_p']

In [44]:
ttest_ind(c_etest,c_MBA)

TtestResult(statistic=np.float64(8.371116180455038), pvalue=np.float64(2.513497844777739e-15), df=np.float64(288.0))

In [4]:
# Higer pvalue (251%) which indicates there is no significant difference between commerce stutend's etest mark and commerece stutend's mba mark.

Hypotheses
Null Hypothesis (H₀): 
"There is no difference in average of commerece student's mark between the mba and etest"
(i.e., MBA mean = etest mean)

Alternative Hypothesis (H₁): 
"There is a difference in average Salary between Female and Male Students"
(i.e., Female mean ≠ Male mean)

P-Value
The probability of observing the data (or more extreme results) if the null hypothesis is true.

Threshold (α): Typically set to 0.05.

If p-value < 0.05: Reject H₀ (significant difference).

If p-value ≥ 0.05: Fail to reject H₀ (no significant difference).