In [1]:
from univariate import univariate
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
quan,qual=univariate.quanqual(dataset)

In [4]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [5]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [6]:
univariate.frequencyTable(dataset,'ssc_p')

     Unique_values  frequency  relative_frequency  cum_rel_frequency
0            62.00         11            0.106796           0.106796
1            63.00         10            0.097087           0.203883
2            67.00          9            0.087379           0.291262
3            73.00          9            0.087379           0.378641
4            52.00          9            0.087379           0.466019
..             ...        ...                 ...                ...
98           55.68          1            0.009709           2.048544
99           41.00          1            0.009709           2.058252
100          83.33          1            0.009709           2.067961
101          43.00          1            0.009709           2.077670
102          80.60          1            0.009709           2.087379

[103 rows x 4 columns]

In [7]:
univariate.tableDescripe(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
min,1,40.89,37.0,50.0,50.0,51.21,200000.0
max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [8]:
lesser,greater=univariate.outliers(quan,univariate.tableDescripe(dataset,quan))

In [9]:
lesser

['hsc_p']

In [10]:
greater

['hsc_p', 'degree_p', 'salary']

In [13]:
univariate.outliers_replace(lesser,greater,dataset,univariate.tableDescripe(dataset,quan))

In [14]:
aLesser,aGreater=univariate.outliers(quan,univariate.tableDescripe(dataset,quan))

In [15]:
aLesser

[]

In [16]:
aGreater

[]