In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
def quanqual(dataset):
    quan=[]
    qual=[]
    for columnname in dataset.columns:
        if dataset[columnname].dtype=="object":
            qual.append(columnname)
        else:
            quan.append(columnname)
    return quan,qual

In [4]:
quan,qual=quanqual(dataset)

In [5]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [6]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Central Tendency

In [7]:
dataset["ssc_p"].mean()

np.float64(67.30339534883721)

In [8]:
dataset["ssc_p"].median()

67.0

In [9]:
dataset["ssc_p"].mode()[0]

np.float64(62.0)

In [10]:
descriptive=pd.DataFrame(index=['mean', 'median', 'mode'],columns=quan)

In [11]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [12]:
descriptive["sl_no"]['median']

nan

In [13]:
for columnname in quan:
    descriptive[columnname]['mean']=dataset[columnname].mean()
    descriptive[columnname]['median']=dataset[columnname].median()
    descriptive[columnname]['mode']=dataset[columnname].mode()[0]

C:\Users\karth\AppData\Local\Temp\ipykernel_12440\637852572.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnname]['mean']=dataset[columnname].mean()
C:\Users\karth\AppData\Local\Temp\ipykernel_12440\637852572.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnname]['median']=dataset[columnname].median()
C:\Users\karth\AppData\Local\Temp\ipykernel_12440\637852572.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnname]['mode']=dataset[columnname].mode()[0]
C:\Users\karth\AppData\Local\Temp\ipykernel_12440\637852572.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnname]['mean']=dataset[columnname].mean()
C:\Users\karth\AppData\Local\Temp\ipykernel_12440\637852572.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnname]['median']=dataset[columnname].median()

In [14]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0