In [1]:
import pandas as pd
from univariate import univariate

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
dataset.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [5]:
dataset.fillna(0,inplace=True)

In [6]:
dataset.isna().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

One-Way Classification (ANOVA)
A statistical test that compares the means of 3+ groups to see if at least one is significantly different. 
It's used when you have:
1 categorical independent variable (factor) with multiple groups
1 continuous dependent variable

In [7]:
from scipy.stats import stats

In [8]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [9]:
stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

C:\Users\karth\AppData\Local\Temp\ipykernel_10436\3926832799.py:1: DeprecationWarning: Please import `f_oneway` from the `scipy.stats` namespace; the `scipy.stats.stats` namespace is deprecated and will be removed in SciPy 2.0.0.
  stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=np.float64(0.6719700864663097), pvalue=np.float64(0.5110602818995302))

Hypotheses
Null Hypothesis (H₀): 
"There is no difference in average of commerece student's mark between the mba and etest"
(i.e., MBA mean = etest mean)

Alternative Hypothesis (H₁): 
"There is a difference in average Salary between Female and Male Students"
(i.e., Female mean ≠ Male mean)

P-Value
The probability of observing the data (or more extreme results) if the null hypothesis is true.

Threshold (α): Typically set to 0.05.

If p-value < 0.05: Reject H₀ (significant difference).

If p-value ≥ 0.05: Fail to reject H₀ (no significant difference).

In [11]:
placed=dataset[dataset['status']=='Placed']['mba_p']
Notplaced=dataset[dataset['status']=='Not Placed']['mba_p']

In [12]:
stats.f_oneway(placed,Notplaced)

C:\Users\karth\AppData\Local\Temp\ipykernel_10436\1086433358.py:1: DeprecationWarning: Please import `f_oneway` from the `scipy.stats` namespace; the `scipy.stats.stats` namespace is deprecated and will be removed in SciPy 2.0.0.
  stats.f_oneway(placed,Notplaced)

F_onewayResult(statistic=np.float64(1.2678097942396966), pvalue=np.float64(0.2614450019774905))

Since p-value > 0.05
Accept H₀
mba_p is not differs significantly between placed/not-placed students. MBA marks do not predict placement

In [13]:
dataset.groupby('status')['mba_p'].mean()

status
Not Placed    61.612836
Placed        62.579392
Name: mba_p, dtype: float64

In [14]:
sscplaced=dataset[dataset['status']=='Placed']['ssc_p']
sscNotplaced=dataset[dataset['status']=='Not Placed']['ssc_p']

In [15]:
stats.f_oneway(sscplaced,sscNotplaced)

C:\Users\karth\AppData\Local\Temp\ipykernel_10436\678337865.py:1: DeprecationWarning: Please import `f_oneway` from the `scipy.stats` namespace; the `scipy.stats.stats` namespace is deprecated and will be removed in SciPy 2.0.0.
  stats.f_oneway(sscplaced,sscNotplaced)

F_onewayResult(statistic=np.float64(124.84250634372715), pvalue=np.float64(4.115201043884895e-23))

In [16]:
dataset.groupby('status')['ssc_p'].mean()

status
Not Placed    57.544030
Placed        71.721486
Name: ssc_p, dtype: float64

In [21]:
# Since p-value < 0.05 Reject H₀ ssc_p differs significantly between placed/not-placed students and Secondary marks strongly predict placement.

In [23]:
# Scenario: Do higher secondary percentages (hsc_p) differ across streams (hsc_s)?

In [22]:
df=dataset.copy()
arts = df[df['hsc_s'] == 'Arts']['hsc_p']
science = df[df['hsc_s'] == 'Science']['hsc_p']
commerce = df[df['hsc_s'] == 'Commerce']['hsc_p']

In [29]:
stats.f_oneway(arts,science,commerce)

C:\Users\karth\AppData\Local\Temp\ipykernel_10436\581209613.py:1: DeprecationWarning: Please import `f_oneway` from the `scipy.stats` namespace; the `scipy.stats.stats` namespace is deprecated and will be removed in SciPy 2.0.0.
  stats.f_oneway(arts,science,commerce)

F_onewayResult(statistic=np.float64(7.58854141891929), pvalue=np.float64(0.0006560883059139558))

In [26]:
df.groupby('hsc_s')['hsc_p'].mean()

hsc_s
Arts        62.745455
Commerce    68.999115
Science     63.456374
Name: hsc_p, dtype: float64

In [25]:
# Since p-value < 0.05 Reject H₀ there is significant difference in higher secondary percentages across 3 streams.

#TWO way Classification ANOVA
To perform a two-way ANOVA (analysis of variance), we need:

Two categorical independent variables (factors)

One continuous dependent variable

Interaction effect between the two factors

In [30]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [32]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [37]:
#Scenario: Does the gender pay gap change based on specialisation?
placed = df[df['status'] == 'Placed'].copy()  # Only analyze placed students

# Two-way ANOVA: Test effects of gender + specialisation on salary
model = ols('salary ~ C(gender) + C(specialisation) + C(gender):C(specialisation)', data=placed).fit()
anova_table = sm.stats.anova_lm(model, typ=2)

print(anova_table)

                                   sum_sq     df         F    PR(>F)
C(gender)                    2.775823e+10    1.0  3.253806  0.073348
C(specialisation)            2.291995e+10    1.0  2.686665  0.103374
C(gender):C(specialisation)  1.334422e+08    1.0  0.015642  0.900644
Residual                     1.228465e+12  144.0       NaN       NaN

Main Effect of Gender:
P<0.5
Accept H₁: Avg salary differs by gender

Main Effect of Specialisation:
P>0.5
Accept H₀: Avg salary is equal for Mkt&Fin/Mkt&HR

Interaction Effect:
H₀: Effect of gender on salary is independent of specialisation
H₁: Gender and specialisation interact (e.g., one specialisation pays better for a specific gender)

Since P>0.5
    H₀: Effect of gender on salary is independent of specialisation

In [36]:
model = ols('salary ~ C(gender) * C(specialisation)', data=placed).fit()
sm.stats.anova_lm(model, typ=2)

                                   sum_sq     df         F    PR(>F)
C(gender)                    2.775823e+10    1.0  3.253806  0.073348
C(specialisation)            2.291995e+10    1.0  2.686665  0.103374
C(gender):C(specialisation)  1.334422e+08    1.0  0.015642  0.900644
Residual                     1.228465e+12  144.0       NaN       NaN

In [38]:
placed.groupby(['gender', 'specialisation'])['salary'].mean()

gender  specialisation
F       Mkt&Fin           279285.714286
        Mkt&HR            250500.000000
M       Mkt&Fin           307029.850746
        Mkt&HR            282424.242424
Name: salary, dtype: float64